<%- include("../partials/header"); %>
   
   <h1> Welcome to admin panel </h1>

   <form method="POST" action="/add-teacher">
      <button type="submit" name="addTeacher" value="add">Add teacher</button>
   </form>

   <form method="POST" action="/view-teacher">      
      <button type="submit" name="viewTeacher" value="view">View teacher</button>
   </form>
   

<%- include("../partials/footer"); %>
