<%- include("../partials/header"); %>
   
<link rel="stylesheet" href="/css/index.css">

   <h1> Welcome to admin panel </h1>

   <div class="dropdown">
      <a href="/add-teacher"><button class="dropbtn">Add teacher</button></a>
   </div>

   <div class="dropdown">
      <a href="/view-teacher"><button class="dropbtn">View teachers</button></a>
   </div>

   <div class="dropdown">
      <a href="/view-student"><button class="dropbtn">View students</button></a>
   </div>
   

<%- include("../partials/footer"); %>
