<%- include("../partials/header"); %>

<link rel="stylesheet" href="/css/tables.css">
<h2>Registered Students</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Enrollment No.</th>
    <th>E-mail</th>
    <th>Contact</th>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
    <td>$100</td>
  </tr>
  
</table>


<%- include("../partials/footer"); %>