<%- include("partials/header"); %>

<link rel="stylesheet" href="/css/index.css">

<div class="dropdown">
  <button class="dropbtn">Admin</button>
  <div class="dropdown-content">      
    <a href="/admin-login">Login</a>     
  </div>
</div>

<div class="dropdown">
    <button class="dropbtn">Teacher</button>
    <div class="dropdown-content">      
      <a href="/teacher">Login</a>     
    </div>
</div> 

<div class="dropdown">
    <button class="dropbtn">Student</button>
    <div class="dropdown-content">
      <a href="/student-register">Register</a>
      <a href="#">Login</a>     
    </div>
</div> 


<%- include("partials/footer"); %>