<%- include("partials/header"); %>

<form method="POST" action="/admin-dashboard">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="Email="exampleInputEmail1" placeholder="Enter email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Contact no.</label>
        <input type="tel" class="form-control" name="Contact" id="exampleInputPassword1" placeholder="Contact no." required>
      </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="Pass" id="exampleInputPassword1" placeholder="Password" required>
    </div>

    <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->

    <button type="submit" class="btn btn-primary" name="add" value="added">+</button>
  </form>

<%- include("partials/footer"); %>