<%- include("partials/header"); %>
   
   <h1> Welcome to admin panel </h1>

   <form method="POST" action="/admin/admin-dashboard">
      <button type="submit" name="addTeacher" value="add">Add teacher</button>
      <button type="submit" name="viewTeacher" value="view">View teacher</button>
   </form>
   

<%- include("partials/footer"); %>
