<%- include("partials/header"); %>
   
   <h1> Welcome to admin panel </h1>

   <form method="POST" action="/admin-dashboard">
      <button type="submit" name="addTeacher" value="submit">Add teacher</button>
   </form>
   

<%- include("partials/footer"); %>
